.info-nav {
    background-color: #e91d3e;
    display: flex;
    justify-content: space-around;

    .hotline,
    .store,
    .info {
        display: flex;
        gap: 10px;
        padding: 2px 0px;
        color: #FFF;
        font-size: 14px;

        div {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 2px 0px;
        }

        .line {
            width: 1px;
            background-color: #FFF;
            height: 70%;
            margin: 2px 0px;
        }
    }

    .hotline {
        span:nth-child(3) {
            font-weight: 700;
        }
    }

    .store {

        div {

            .title-store {
                position: relative;
                padding: 5px 5px;
                border-radius: 20px;
                background: linear-gradient(270deg, #1c08ce, #ee4014);
                background-size: 400% 400%;
                animation: gradientBG 4s ease infinite;
                z-index: 2;
                cursor: pointer;
            }

            @keyframes gradientBG {
                0% {
                    background-position: 0% 50%;
                }

                50% {
                    background-position: 100% 50%;
                }

                100% {
                    background-position: 0% 50%;
                }
            }
        }
    }

    .info {

        .option-support {
            position: absolute;
            background-color: #FFF;
            transform: translate(-110px, 215px);
            box-shadow: 1px 1px 1px 1px #888888;
            border-radius: 10px;

            ul {
                margin: 5px 40px 5px -30px;

                li {
                    display: inline-block;
                    border-radius: 10px;
                    width: 100%;
                    color: black;
                    text-decoration: none;
                    padding: 15px 15px;
                    cursor: pointer;
                }

                li:hover {
                    background-color: #eeeeee;
                }
            }
        }

        .option-service-center {
            position: absolute;
            background-color: #FFF;
            transform: translate(-50px, 120px);
            box-shadow: 1px 1px 1px 1px #888888;
            border-radius: 10px;

            ul {
                margin: 5px 40px 5px -30px;

                li {
                    display: inline-block;
                    border-radius: 10px;
                    width: 100%;
                    color: black;
                    text-decoration: none;
                    padding: 15px 15px;
                    cursor: pointer;
                }

                li:hover {
                    background-color: #eeeeee;
                }
            }
        }
    }
}